body {
  background-color: #FFF9EC;
  font-family: 'Comic Sans MS', cursive;
}

button.my-button {
  color: #5D2A42;
  background-color: #FFDCCC;
  height: 3rem;
  width: auto;
  font-size: 1.5rem;
  padding: 1%;
  border: 1px solid #A2A392;
  font-family: 'Comic Sans MS', cursive;
}

input {
  padding: 2%;
  font-size: medium;
  border: 1px solid #5D2A42;
  width: 40vh;
  margin-bottom: 2%;
  color: #5D2A42;
}

button.add-buy-button {
  color: #5D2A42;
  background-color: #FFDCCC;
  margin-bottom: 2%;
  width: auto;
  font-size: 1rem;
  border: 1px solid #A2A392;
  font-family: 'Comic Sans MS', cursive;
}

.onhover:hover{
  color: #A2A392;
}
